<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxcms.mapper.TaskCodeDao">

    <select id="listForPage" resultType="com.wxcms.domain.TaskCode">
        SELECT m.*
        from t_wxcms_task_code m
        WHERE 1=1
        <if test="param1.userId!=0">
            and m.userId = #{param1.userId}
        </if>
        order by moneyPer desc
        LIMIT #{param2.start} , #{param2.pageSize}
    </select>
    <select id="getTotalItemsCount" parameterType="com.wxcms.domain.TaskCode" resultType="java.lang.Integer">
        SELECT count(m.id) FROM t_wxcms_task_code m
        WHERE 1=1
        <if test="userId!=0">
            and m.userId = #{userId}
        </if>
    </select>

    <select id="listForPageNotGet" resultType="com.wxcms.domain.TaskCode">
        SELECT m.*
        from t_wxcms_task_code m,t_wxcms_user u
        WHERE u.id=m.userId
        and u.userMoney> 10* m.moneyPer
        and m.id not in (select taskId from t_wxcms_task_log n where n.openId=#{param1.openId})
        order by moneyPer desc
        LIMIT #{param2.start} , #{param2.pageSize}
    </select>
    <select id="getTotalItemsCountNotGet" parameterType="com.wxcms.domain.TaskLog" resultType="java.lang.Integer">
        SELECT count(m.id)
        from t_wxcms_task_code m,t_wxcms_user u
        WHERE u.id=m.userId
        and u.userMoney> 10* m.moneyPer
        and m.id not in (select taskId from t_wxcms_task_log n where n.openId=#{openId})
    </select>






    <select id="getById" resultType="com.wxcms.domain.TaskCode">
        SELECT * FROM t_wxcms_task_code WHERE ID = #{id}
    </select>

    <delete id="delete" parameterType="com.wxcms.domain.MsgNews" >
        DELETE FROM t_wxcms_task_code WHERE ID = #{id}
    </delete>

    <select id="getByWxCode" resultType="com.wxcms.domain.TaskCode">
        SELECT * FROM t_wxcms_task_code WHERE wxCodeImgHref = #{wxCodeImgHref} limit 1
    </select>

    <select id="getByAccount" resultType="com.wxcms.domain.TaskCode">
        SELECT * FROM t_wxcms_task_code WHERE account = #{account} limit 1
    </select>

    <insert id="add" parameterType="com.wxcms.domain.TaskCode" flushCache="true" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO t_wxcms_task_code ( userId,moneyPer,wxCodeImgHref,wxRemark,validateMenuUrl,createtime,
        base64WxCode,account,appid,appsecret,url,token,type ,wxAttentionUrl)
        VALUES ( #{userId},#{moneyPer},#{wxCodeImgHref},#{wxRemark},#{validateMenuUrl},#{createtime},
        #{base64WxCode},#{account},#{appid},#{appsecret},#{url},#{token},#{type},#{wxAttentionUrl})
    </insert>

    <update id="update" parameterType="com.wxcms.domain.TaskCode" flushCache="true">
        UPDATE t_wxcms_task_code SET moneyPer = #{moneyPer},userId = #{userId},wxCodeImgHref = #{wxCodeImgHref},
        wxRemark = #{wxRemark},validateMenuUrl = #{validateMenuUrl},base64WxCode=#{base64WxCode},
        account=#{account},appid=#{appid},appsecret=#{appsecret},url=#{url},token=#{token} ,type=#{type},
        wxAttentionUrl=#{wxAttentionUrl}
        WHERE ID = #{id}
    </update>

</mapper>