<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxcms.mapper.UserNewsTaskArticleDao">
    <resultMap id="UserNewsTaskArticleMap" type="com.wxcms.domain.UserNewsTaskArticle">
        <id property="id" column="id" />
        <id property="createtime" column="createtime" />
        <result property="newsTaskId" column="news_task_id"/>
        <result property="articleId" column="article_id"/>
        <result property="articleOrder" column="article_order"/>
        <result property="userId" column="user_id"/>
        <result property="newsTaskName" column="news_task_name"/>
        <result property="articleTitle" column="articleTitle"/>
        <result property="thumb" column="thumb"/>
    </resultMap>
    <select id="paginationEntity" resultMap="UserNewsTaskArticleMap">
        SELECT m.*,n.news_task_name as news_task_name,t.articleTitle as articleTitle,t.thumb as thumb
        from t_wxcms_user_news_task_article m, t_wxcms_user_news_task n,t_wxcms_article_collect t
        where n.id=m.news_task_id and t.id=m.article_id
        <if test="param1.newsTaskId!=0">
            and m.news_task_id=#{param1.newsTaskId}
        </if>
        order by m.article_order desc
        LIMIT #{param2.start} , #{param2.pageSize}
    </select>

    <select id="getTotalItemsCount" parameterType="com.wxcms.domain.UserNewsTaskArticle" resultType="java.lang.Integer">
        SELECT count(m.id)
        FROM t_wxcms_user_news_task_article m, t_wxcms_user_news_task n,t_wxcms_article_collect t
        where n.id=m.news_task_id and t.id=m.article_id
        <if test="newsTaskId!=0">
            and m.news_task_id=#{newsTaskId}
        </if>
    </select>


    <select id="listForPage" parameterType="com.wxcms.domain.UserNewsTaskArticle" resultMap="UserNewsTaskArticleMap">
        SELECT  m.*,n.news_task_name as news_task_name,t.articleTitle as articleTitle,t.thumb as thumb
        FROM t_wxcms_user_news_task_article m, t_wxcms_user_news_task n,t_wxcms_article_collect t
        where n.id=m.news_task_id and t.id=m.article_id
        <if test="newsTaskId!=0">
            and m.news_task_id=#{newsTaskId}
        </if>
        ORDER BY m.article_order DESC
    </select>

    <select id="getById" resultMap="UserNewsTaskArticleMap">
        SELECT * FROM t_wxcms_user_news_task_article WHERE ID = #{id}
    </select>


    <insert id="add" parameterType="com.wxcms.domain.UserNewsTaskArticle" flushCache="true">
        INSERT INTO t_wxcms_user_news_task_article ( createtime,news_task_id,article_id,article_order,user_id)
        VALUES ( #{createtime},#{newsTaskId},#{articleId},#{articleOrder},#{userId})
        <selectKey resultType="long" keyProperty="id" >
            SELECT LAST_INSERT_ID() ;
        </selectKey>
    </insert>

    <update id="update" parameterType="com.wxcms.domain.UserNewsTaskArticle" flushCache="true">
        UPDATE t_wxcms_user_news_task_article SET
        article_order=#{articleOrder}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="com.wxcms.domain.UserNewsTaskArticle" >
        DELETE FROM t_wxcms_user_news_task_article WHERE ID = #{id}
    </delete>

    <select id="isExistByArticleIdAndNewsTaskId" resultType="boolean">
        select count(*) from
        t_wxcms_user_news_task_article where article_id=#{articleId}
        and news_task_id=#{newsTaskId}
    </select>

</mapper>
